
.headerContainer {
    height: 6.2rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95.6rem;
    background-color: #B2E4FA;
}

.sidebarContainer {
   width: fit-content;
    height: 95.6rem;

}

.contentContainerWide {
    flex: content;
    background-color: #B2E4FA;
}

.contentContainer {
    flex: content;
    background-color: #B2E4FA;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    padding: auto;
}

.copyright {
    color: #707070;
    font-family: "Nunito";
    font-weight: 1.6rem;
    font-weight: bold;
}

.arrow {
    width: 1.8rem;
    height: 3.6rem;
}

.arrowContainerWide {
    background-color: #B2E4FA;
    text-align: center;
    align-content: center;
    border-radius: 1rem 0 0 1rem;
    z-index: 999;
    width: 6.4rem;
    height: 7.2rem;
    position: absolute;
    top: 65rem;
    left: 23rem;
}

.arrowContainer {
    background-color: #B2E4FA;
    text-align: center;
    align-content: center;
    border-radius: 1rem 0 0 1rem;
    z-index: 999;
    width: 6.4rem;
    height: 7.2rem;
    position: absolute;
    top: 70rem;
    transform: scaleX(-1);
}