
.headerContainer {
    height: 6.2rem;
}

.mainContainer {
    display: grid;
    grid-template-columns: max-content max-content;
    height: 95.6rem;
    background-color: #B2E4FA;
}

.sidebarContainer {
    position: relative;
   width: fit-content;
    height: 95.6rem;
}

.contentContainerWide {
    width: 153rem;
    height: 85.6rem;
    margin: 5rem 8.3rem 5rem 3.8rem ;
    background-color: #daf2fe;
    border-radius: 3rem;
}

.contentContainer {
    display: flex;
    justify-content: center;
    width: 165rem;
    height: 85.6rem;
    margin: 5rem 5rem 5rem 6rem ;
    background-color: #daf2fe;
    border-radius: 3rem;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    padding: auto;
}

.copyright {
    color: #707070;
    font-family: "Nunito";
    font-weight: 1.6rem;
    font-weight: bold;
}

.arrow {
    width: 1.8rem;
    height: 3.6rem;
    cursor: pointer;
}

.arrowContainerWide {
    background-color: #B2E4FA;
    text-align: center;
    align-content: center;
    border-radius: 1rem 0 0 1rem;
    z-index: 999;
    width: 6.4rem;
    height: 7.2rem;
    position: absolute;
    top: 62%;
    left: 78%;
}

.arrowContainer {
    background-color: #B2E4FA;
    text-align: center;
    align-content: center;
    border-radius: 1rem 0 0 1rem;
    z-index: 999;
    width: 6.4rem;
    height: 7.2rem;
    position: absolute;
    top: 73.5%;
    transform: scaleX(-1);
}