@font-face {
    font-family: Nunito;
    src: url(../assets/Font/Nunito/Nunito-Variable.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(../assets/Font/Open-Sans/OpenSans-Variable.ttf);
}